.buttonGroup {
  height: 50px;
  button {
    // color: #4a4a4a;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-align: center;
    &:last-child {
      flex-grow: 1;
    }
    @media screen and (max-width: 600px) {
      font-size: 82%;
    }
  }
}
